@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px); /* Adjust theight */
  }
}
body {
  background: black;
  color: white;
}
footer a:hover {
  color: green;
}
.theme {
  transition: 3s all ease;
}
.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}
